{% extends 'main.html' %}
{% load static %}

{% block content %}

{% include 'subheader.html' %}

    <div class="container-fluid about">
        <div class="row">
            <div class="container">
                <h2 class="dispaly-txt">About Us</h2>
            </div>
        </div>
    </div>

    <div class="container mt-5" style="color: black;">
        <div class="col-md-8">
            <div class="about-txt">
                <h5>Welcome to IBEN INTERNATIONAL, </h5>
            <br>
                <p>a registered entity with a grand vision for
                revolutionizing the Engineering landscape. Committed to excellence, we aspire to be
                leaders in the construction industry by offering quality and expert project
                management. From modest bungalows to towering sky scrappers, we bring a fresh
                perspective and unwavering dedication to every project, ensuring quality, efficient
                and client satisfaction. Embrace the future of construction with us as we embark on
                a journey of building dreams from the ground up.</p>
                </div>
        </div>
        <br>
        <br>
        <h2>OUR HISTORY</h2>
        
    </div>
{% endblock %}
    