{% extends 'main.html' %}
{% load static %}

{% block content %}

{% include 'subheader.html' %}

    <div class="container-flood mission">
        <div class="row">
            <h2 class="dispaly-txt">Our Mission</h2>
        </div>
    </div>

    <div class="container mt-5" style="color: black;">
        <div class="col-md-8">
            <h4>Design of stable structures</h4>
            <br>
        <p>At <strong>IBEN INTERNATIONAL</strong> , our purpose is clear, to design and create stable
            structures that withstand the test of time. We are dedicated to the art and science of
            Civil engineering, ensuring the durability and safety of every project we undertake.
            With a focus on precision, innovation and cutting edge technologies, we strive to
            redefine industry standards. We are dedicated to building a sustainable future where
            stability is the cornerstone of every structure we create.</p>
        </div>
        <br>
        <br>

        <div class="col-md-8">
            <h4>Environmental friendly constructions</h4>
            <br>
        <p>We pioneer environmentally friendly projects. Committed to sustainable practices,
            we integrate innovative engineering solutions that minimize environmental impact.
            Our mission is to lead the way in responsible construction while delivering top-tier
            engineering excellence.
            </p>
        </div>
        <br>
        <br>

        <div class="col-md-8">
            <h4>Cost effective projects</h4>
            <br>
        <p>At IBEN INTERNATIONAL, we provide cost-friendly projects without compromising
            quality. Through efficient planning, smart solutions and strategic partnerships, we
            aim to make excellence affordable. Our mission is to redefine the economics of
            construction, making quality Engineering accessible to a diverse range of clients. Join
            us as we pave way for budget friendly projects without compromising on standard
            </p>
        </div>
        <br>
        <br>
        
    </div>
{% endblock %}
    