{% extends 'main.html' %}
{% load static %}

{% block content %}

{% include 'subheader.html' %}

    <div class="container-flood values">
        <div class="row">
            <h2 class="dispaly-txt">Our Values</h2>
        </div>
    </div>

    <div class="container mt-5">
        <div class="values-txt">
        <div class="col-md-7"> 
            <h5>Excellence</h5>
            <p>We are committed to delivering construction projects of the highest
            quality, ensuring precision and attention to details in every aspect of work</p>
            </div>
            <br>

        <div class="col-md-7">
            <h5>Integrity </h5>
        <p>Honesty and transparency form the foundation of our business. We
            prioritize ethical practices, fostering trust with clients, partners and communities.</p>
        </div>
        <br>

        <div class="col-md-7">
            <h5>Innovation </h5>
        <p>embracing the latest advancements in construction and engineering,
            we constantly seek innovative solutions to enhance project efficiency and
            sustainability
            </p>
        </div>
        <br>

        <div class="col-md-7">
            <h5>Client Centrism Approach</h5>
        <p>Our clients are the core of everything we do. We listen
            to their needs, provide personalized solutions and try to exceed their expectations.</p>
        </div>
        <br>

        <div class="col-md-7">
            <h5>Sustainability</h5>
        <p>Committed to environmental responsibility, we integrate
            sustainable practices into our projects, minimizing our ecological footprint and
            contributing to a greener future.</p>
        </div>
        <br>

        <div class="col-md-7">
            <h5>Team Collaboration</h5>
        <p>We value the diverse expertise of our team members and
            foster a collaborative environment where ideas are shared and collective efforts
            drive success.</p>
        </div>
        <br>

        <div class="col-md-7">
            <h5>Global Perspective</h5>
        <p>- As an international company, we embrace cultural diversity
            and global perspectives, enriching our approach to construction and fostering a
            broad understanding of industry trends.</p>
        </div>
        <br>

        <div class="col-md-7">
            <h5>Community Impact</h5>
        <p>We actively engage with and contribute to the communities
            where we operate, striving to make a positive impact through responsible
            construction practices and community involvement.</p>
        </div>
        <br>
    </div>
    </div>
{% endblock %}
    